extends layout

block content
	a(href='/') Home
	h1.align-h-center #{letter} is for...
	table#sortable
		thead
			th#name.header Name
			th#address.header Address
			th#neighborhood.header Neighborhood
			th#city.header.ascending City
			th#rating.header Rating
			th#review_count.header Review Count
		tbody
			each val, index in bars
				tr.bar
					td.name(data-name=val.name)
						a(href=val.url, target='_blank') #{val.name}
					td.address(data-address=val.address) #{val.address}
					td.neighborhood(data-neighborhood=val.neighborhood) #{val.neighborhood}
					td.city(data-city=val.city) #{val.city}
					td.rating.number(data-rating=val.rating) #{val.rating}
					td.review_count.number(data-review_count=val.review_count) #{val.review_count}